<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='cart.css')}}" >
</head>
<body>
    <header>
        <div class="heading">
        </div>
      </header>
      <br><br>
      <nav>
        <h4>
          <a href="/dashboard" class="nav-link">Home</a>
          <a href="/search/{{user_id}}" class="nav-link">Search</a>
          <a href="/view_cart/{{user_id}}" class="nav-link">View Cart</a>
          <a href="{{ url_for('logout_user') }}" onclick="myFunction()" class="nav-link">Logout</a>
        </h4>
      </nav>  
    <div class="cart">
        <h1>Cart:</h1>
        <ul>
         <h3>   {% set total_amount = 0 %} <!-- Initialize total_amount variable --></h3>
            {% for item in cart %}
                <li>
                    <h4>  {{ item.name }} - ₹ {{ item.Price }} x ({{ item.Quantity }}) </h4>
                    <form action="{{ url_for('delete_cart_item', user_id=user_id,product_id=item.product_id) }}" method="POST">
                        <button type="submit" class="btn btn-danger" onclick="return showAlert();">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
        <h2>Total Amount: ₹ {{ cart_total}}</h2> <!-- Print the total amount --><br>
        {% if cart|length>0 %}
        <div class="flex">
            <form action="{{ url_for('buy_item') }}" method="POST">
                <input type="hidden" name="buy_all" value="true"> 
                    <button onclick="myAlert()" type="submit" class="btn btn-success">Check Out</button>                    
            </form> 
            <form action="{{ url_for('clear_cart', user_id=user_id) }}" method="POST">
                <button type="submit" class="btn btn-danger" onclick="return confirmDelete();">Clear Cart</button>
            </form> 
         </div>
         {% endif %}
</div>
<script>
    function confirmDelete() {
      return confirm("Are you sure you want to clear cart?");
    }
    function myFunction() {
        alert ("Logged out successfully. Hope to see you soon:)");
    }
    function myAlert() {
      alert("Yay!!! Your order has been booked");
    }
    function showAlert(){
        return confirm("Are you sure you want to delete item?");
    }
</script> 
</body>
</html>

